<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="SVN" type="SVNExtension.SVNConfiguration,SVNExtension" />
    <section name="databasemap" type="DatabaseAccess.Configuration.MapUserConfiguration, DatabaseAccess" />
  </configSections>

  <appSettings>
    <add key="MongoConnection" value="mongodb://localhost" />
    <add key="MongoDatabase" value="Teste" />
  </appSettings>

  <SVN>
    <repositorys>
      <repository url="file:///C:/Gamification/Gamification/Gamification/SVNExtension.UnitTest/bin/Debug/RepositorioNET"/>
      <repository url="file:///C:/Gamification/Gamification/Gamification/SVNExtension.UnitTest/bin/Debug/RepositorioNET2"/>      
    </repositorys>
  </SVN>
  <databasemap>
    <usermaps>
      <usermap mainname="leonardo.kobus" subnames="HBSISNET\leonardo.kobus,jenkins.the.buttler"></usermap>      
    </usermaps>
  </databasemap>
  
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Gamification.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>