<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="SVN" type="SVNExtension.SVNConfiguration,SVNExtension" />
    <section name="databasemap" type="DatabaseAccess.Configuration.MapUserConfiguration, DatabaseAccess" />
  </configSections>
  
  <appSettings>
    <add key="MongoConnection" value="mongodb://localhost" />
    <add key="MongoDatabase" value="Teste" />
  </appSettings>
  
  <SVN>
    <repositorys>
      
      <repository url="file:///C:/Gamification/Gamification/Gamification/SVNExtension.UnitTest/bin/Debug/RepositorioNET"/>
      <repository url="file:///C:/Gamification/Gamification/Gamification/SVNExtension.UnitTest/bin/Debug/RepositorioNET2"/>
      
      <!--
      <repository url="https://fontes.hbsis.com.br/repos/WMS/trunk"/>
      <repository url="https://fontes.hbsis.com.br/repos/afv/trunk" />
      <repository url="https://fontes.hbsis.com.br/repos/hbmdm/trunk" />
      <repository url="https://fontes.hbsis.com.br/repos/portalinova/trunk" />             
      <repository url="https://fontes.hbsis.com.br/repos/hbprever/trunk" />
      -->
    </repositorys>
  </SVN>
  <databasemap>
    <usermaps>
      <usermap mainname="leonardo.kobus" subnames="HBSISNET\leonardo.kobus,jenkins.the.buttler"></usermap>
      <usermap mainname="HBSISNET\ricardo.momm" subnames="hbsis.ricardom"></usermap>
    </usermaps>
  </databasemap>
</configuration>