<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="SVN" type="SVNExtension.SVNConfiguration,SVNExtension" />
  </configSections>
  <SVN>
    <repositorys>
      <repository url="file:///C:/users/leonardo.kobus/desktop/games/gamification/SVNExtension.UnitTest/bin/Debug/RepositorioNET"/>
      <repository url="file:///C:/users/leonardo.kobus/desktop/games/gamification/SVNExtension.UnitTest/bin/Debug/RepositorioNET2"/>
    </repositorys>
  </SVN>
</configuration>