<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="SVN" type="SVNExtension.SVNConfiguration,SVNExtension" />
    <section name="databasemap" type="DatabaseAccess.Configuration.MapUserConfiguration, DatabaseAccess" />
  </configSections>
  <SVN>
    <repositorys>
      <repository url="file:///C:/users/leonardo.kobus/desktop/games/gamification/SVNExtension.UnitTest/bin/Debug/RepositorioNET"/>
      <repository url="file:///C:/users/leonardo.kobus/desktop/games/gamification/SVNExtension.UnitTest/bin/Debug/RepositorioNET2"/>
    </repositorys>
  </SVN>
  <databasemap>
    <usermaps>
      <usermap mainname="leonardo.kobus" subnames="HBSISNET\leonardo.kobus,jenkins.the.buttler"></usermap>
    </usermaps>
  </databasemap>
</configuration>